VITE_GEMINI_API_KEY=your_gemini_key_here
PERFECT_KEY=sk-38wZksc3CiTD_ZsK4B__QyfmdyJrmJbChmc90xfpe1LQOOlIoi46eRqe415b7jRS
PERFECT_SECRET=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDOyBHH0azfnLhfvaWtKg5kf0YR9UfGCJXArh7+HuWusSC2VamWskcoHoDftEblyMI5O0pARb73fCLF28107oe6BM0LFEdssq531f4ufSW5uDB/7+zMaoAawLnmco0sPgyKXjyLqZYoQ9ggdXVGzsDCmoDXS/qICcvLg9rtagMVgwIDAQAB
